html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 60px;
    background: url(../img/background.jpeg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
    opacity: 0.9;
}

.navbar{
    opacity: 0.9;
}

.panel-default {
    opacity: 0.9;
}
